    {% extends 'base.html' %}

    {% block title %}Help{% endblock %}
    
        {% block content %}    
        <div id="homebox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >

                    <div class="panel-heading">
               <div class="panel-title">HELP PAGE</div>
                    </div> 
                       
                    <form>
		
			<div class="form-group">
				<ul id='list1' value='Options'>
    				<li>General description</li>
    				<li>Functionalities</li>
				</ul>
        		</div>
                        
		   </form>
  
       	   </div>
       </div> 
    {% endblock %}