	{% extends 'base.html' %}

	{% block title %}Home{% endblock %}
	
        {% block content %}    
        <div id="homebox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >

                    <div class="panel-heading">
		       <div class="panel-title">HOME PAGE</div>
                       <div style="float:right; font-size: 80%; position: relative; top:-10px">
			    {% if user and not user.is_anonymous %}
			        <a href="/myaccount">My Account</a>
				<a href="/report">Check report</a>
                            {% else %}
                               	<a href="/login">Log in your account</a>
				<a href="/report" style="margin-left: 10px"> Check report</a>
                            {% endif %}
                       </div>
                    </div> 
                        
                        <div style="padding-top:30px" class="panel-body" >

                        <div style="display:none" id="home-alert" class="alert alert-danger col-sm-12"></div>

                        <p> 
                          			    
                            {% if user and not user.is_anonymous %}
                               <center>Hello, {{ user }}!</center>
			     <br><center><a href="{% url 'auth:logout' %}?next=/logout" class="btn btn-primary">Logout</a></center></br>
     				
                            {% else %}
                            <center>   I don’t think we’ve met before. </center>
			    <p></p>
			    <center> <button class='help' onclick="location.href='help'"> Help </button> </center> 
			   			
                            {% endif %}
                                
                        </p>     
                        
                        </div>                     
            </div>  
        </div>
	{% endblock %}