	{% extends 'base.html' %}

	{% block title %}My account{% endblock %}
	
        {% block content %}
        <div id="myaccountbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >
                    <div class="panel-heading">
		    <div class = "custom">	
                        <button><a href="/location">Get your location</a></button>
			<button><a href="{% url 'auth:logout' %}?next=/logout">Logout</a></button>
			<button><a href="/qr">Authenticate with QR</a></button>
		    </div>
                    </div>     

                    <div style="padding-top:30px" class="panel-body" >
	
	
                        <div style="display:none" id="myaccount-alert" class="alert alert-danger col-sm-12"></div>
                
		  	    {% if user and not user.is_anonymous %}
                                <center>Hello {{ user.get_full_name|default:user.username }}!</center>
                            {% endif %}
                           
                        </div>                     
                    </div>  
        </div>
	{% endblock %}