	{% extends 'base.html' %} 
  	{% block content %}
        <div id="resetcompletebox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">Action complete</div>
                    </div>     

                    <div style="padding-top:30px" class="panel-body" >

                        <div style="display:none" id="resetcomplete-alert" class="alert alert-danger col-sm-12"></div>
                            
                        <form id="resetcompleteform" class="form-horizontal" role="form" method="post">
                             
			 <center><p> Your password has been set. You may go ahead and <a href="{% url 'login' %}">sign in</a> now. </p></center>
		        </form>     
                    </div>                     
             </div>  
        </div>
	{% endblock %}