
	{% extends 'base.html' %} 
  	{% block content %}
        <div id="actionresetbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">Change Password</div>
                    </div>     

                    <div style="padding-top:30px" class="panel-body" >

                        <div style="display:none" id="actionreset-alert" class="alert alert-danger col-sm-12"></div>
                            
                        <form id="actionresetform" class="form-horizontal" role="form" method="post">
                           

			  {% if validlink %}
   			  <form method="post">
     			  {% csrf_token %}
      			  {{ form.as_p }}
     			  <center><button type="submit">Change password</button></center>
   			  </form>
  			  {% else %}
    			  <p> The password reset link was invalid, possibly because it has already been used. Please request a new password reset. </p>	
			  {% endif %}
                          
                                    	
		        </form>     
                    </div>                     
             </div>  
        </div>
	{% endblock %}