
	{% extends 'base.html' %} 
  	{% block content %}
        <div id="resetdonebox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">Inform Reset Password</div>
                    </div>     

                    <div style="padding-top:30px" class="panel-body" >

                        <div style="display:none" id="resetpassdone-alert" class="alert alert-danger col-sm-12"></div>
                            
                        <form id="resetpassform" class="form-horizontal" role="form" method="post">
                                                          
				  <p> We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly. </p>
  
				  <p> If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder. </p>
             	
		        </form>     
                    </div>                     
             </div>  
        </div>
	{% endblock %}