
	{% extends 'base.html' %} 
  	{% block content %}
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">Reset Password</div>
                    </div>     

                    <div style="padding-top:30px" class="panel-body" >

                        <div style="display:none" id="resetpass-alert" class="alert alert-danger col-sm-12"></div>
                            
                        <form id="resetpassform" class="form-horizontal" role="form" method="post">
                            {% csrf_token %}
                           

        			{{ form.as_p }}
 			   	<center><button type="submit">Submit</button></center>
 
	
		        </form>     
                        </div>                     
                    </div>  
        </div>
	{% endblock %}